<h3> User List </h3>
<div class="border-bottom" style="font-weight: bold;">
  <ng-container *ngTemplateOutlet="userEntity">
  </ng-container>
</div>

<div *ngFor="let user of users; let ind = index"
     [style.background-color]="ind % 2 == 1 ? '#0dcaf0' : ''">
  <ng-container *ngTemplateOutlet="userEntity; context: {user: user}">
  </ng-container>
</div>

<ng-template #str2BySpan let-strArr="arr">
  <span style="white-space: pre;" *ngFor="let letter of strArr">{{letter}}</span>
</ng-template>

<ng-template #userEntity let-user="user">
  <div class="row p-1" [ngSwitch]="!user">
    <div class="col-4 col-sm-3 col-md-2 col-lg-1
                d-flex flex-row flex-wrap align-items-center">
      <span *ngSwitchCase="true">ID</span>

      <span *ngSwitchCase="false">
        {{ user.id }}
      </span>

    </div>

    <div class="col-8 col-sm-9 col-md-10 col-lg-11">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-12 col-sm
                        d-flex flex-row flex-wrap align-items-center">
              <span *ngSwitchCase="true">First Name</span>

              <div *ngSwitchCase="false" class="mt-1 mb-1">
                <span *ngIf="!user.beingUpd">{{ user.firstName }}</span>
                <input *ngIf="user.beingUpd"
                       type="text"
                       class="form-control"
                       [(ngModel)]="user.firstName">
              </div>
            </div>

            <div class="col-12 col-sm
                        d-flex flex-row flex-wrap align-items-center">
              <span *ngSwitchCase="true">Last Name</span>

              <div *ngSwitchCase="false" class="mt-1 mb-1">
                <span *ngIf="!user.beingUpd">{{ user.lastName }}</span>
                <input *ngIf="user.beingUpd"
                       type="text"
                       class="form-control"
                       [(ngModel)]="user.lastName">
              </div>
            </div>

            <div class="col-12 col-sm
                        d-flex flex-row flex-wrap align-items-center">
              <span *ngSwitchCase="true">Email</span>

              <div *ngSwitchCase="false" class="mt-1 mb-1">
                <span *ngIf="!user.beingUpd">{{ user.email }}</span>
                <input *ngIf="user.beingUpd"
                       type="text"
                       class="form-control"
                       [(ngModel)]="user.email">
              </div>
            </div>

            <div class="col-12 col-sm-2
                        d-flex flex-row flex-wrap align-items-center">
              <span *ngSwitchCase="true"></span>
              <div *ngSwitchCase="false" class="mt-1 mb-1">
                <i *ngIf="user.beingUpd" (click)="updateUser(user)" class="material-icons cursor-pointer">cancel</i>
                <i *ngIf="user.beingUpd" (click)="deleteUser(user.id)" class="material-icons cursor-pointer">save</i>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-3 col-lg-2
                    d-flex flex-row flex-wrap align-items-center
                    mt-1 mb-1">
          <span *ngSwitchCase="true">Actions</span>

          <!--<span *ngSwitchCase="false">-->
            <i *ngSwitchCase="false" (click)="updateUser(user)" class="material-icons cursor-pointer">update</i>
            <i *ngSwitchCase="false" (click)="deleteUser(user.id)" class="material-icons cursor-pointer">delete</i>
            <i *ngSwitchCase="false" (click)="userDetails(user.id)" class="material-icons cursor-pointer">info</i>
<!--          </span>-->
        </div>
      </div>
    </div>
  </div>
</ng-template>
