<div class="row g-0"
     style="position: absolute; left: 0; top: 0; z-index: 999;
            max-width: 50%;/* height: 80%;*/
            background-color: red; opacity: 0.7;">
  <div class="col-auto
             d-flex flex-row flex-wrap align-items-center
             p-2">
    <fa-icon [icon]="faWarning"
             class="fa-xl"></fa-icon>
  </div>
  <div class="col
             d-flex flex-row flex-wrap align-items-center
             p-2">
    <span> {{ error }} </span>
  </div>
</div>
